.img-container-jumbo{
    height: 320px;
    text-align: center;
    img{
        object-position: 5px top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        
    }
}