@import "./variables.scss";

.shop-white{
    background-color:#f6f6f6;
    z-index: 1000;
    position: absolute;
    width: 100%;
  
    .container{
      width: 100;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 150px;
      margin: 0px auto;
  
      .img-shop{
        display: flex;
        align-items: center;
        justify-content: space-around;
        img{
          height:50px;
          width: 100%;
          object-fit: contain;
          margin-right: 10px; 
        }
      }
  
    }
  
  }